*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.parent{
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}
.parent header{
  background: lightblue;
  padding: 2rem 5rem;
}

.parent main{
  background: lightcoral;
  padding: 2rem 5rem;
}

.parent footer{
  background: lightblue;
  padding: 2rem 5rem;
}

